<!-- <mat-toolbar color="primary">
  <span>Card view demo</span>
  <div fxHide.lt-md>
    <span class="column-label">Columns</span>
    <mat-slider
      [max]="6"
      [min]="3"
      [value]="gridColumns"
      [thumbLabel]="true"
      (change)="sliderChange($event)"
    >
    </mat-slider>
  </div>
</mat-toolbar> -->

<div class="content">
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
  >
    <div
      [fxFlex]="(100/gridColumns) + '%'"
      fxFlex.xs="100%"
      fxLayoutAlign="center center"
      *ngFor="let article of articles; let index = index;"
    >
      <article-card
        class="article-card"
        [article]="article"
        [index]="index"
      ></article-card>
    </div>
  </div>
</div>

<mat-paginator
  *ngIf="articles.length >= 4"
  class="paginator"
  (page)="onPageChange($event)"
  [length]="count"
  [pageSize]="4"
  [pageSizeOptions]="[4]"
  aria-label="Select page"
>
</mat-paginator>
