<div
  *ngIf="profile"
  class="container"
>
  <div class="main-body">
    <section class="content">
      <mat-card class="card">

        <div fxFlex="row">
          <div
            fxFlex="col"
            fxLayoutAlign="center center"
          >
            <b>{{profile.articlesCount}}</b>
          </div>
          <div
            fxLayoutAlign="center center"
            fxFlex="col"
          >
            <b>{{profile.followersCount}}</b>
          </div>
          <div
            fxLayoutAlign="center center"
            fxFlex="col"
          >
            <b>{{profile.followingCount}}</b>
          </div>
        </div>
        <div fxFlex="row">
          <div
            fxFlex="col"
            fxLayoutAlign="center center"
          >
            Articles
          </div>
          <div
            fxLayoutAlign="center center"
            fxFlex="col"
          >
            Followers
          </div>
          <div
            fxLayoutAlign="center center"
            fxFlex="col"
          >
            Following
          </div>
        </div>

      </mat-card>

    </section>

    <div class>
      <section
        fxLayoutGap="10px"
        fxLayout="row"
        fxLayout.xs="column"
      >
        <mat-card>

          <div class="d-flex flex-column align-items-center text-center">
            <img
              [src]="photoPath"
              alt="Admin"
              width="auto"
              height="auto"
              class="profile-image"
            >
            <div>
              <span>
                {{profile.user.firstname}} {{profile.user.lastname}}
              </span>
              <div class="text-secondary">{{profile.user.email}}</div>
            </div>

            <button
              mat-stroked-button
              color="primary"
              (click)="onEditClicked()"
            >
              Edit profile
            </button>
          </div>

        </mat-card>

      </section>

    </div>

  </div>
</div>
