<mat-card class="mat-elevation-z4">

  <mat-card-content>
    <div
      [ngClass]="{ 'not-all-content': isReadMoreDisplayed ,'all-content': !isReadMoreDisplayed}"
      class="content"
    >
      <section *ngIf="isReadMoreDisplayed; else readAll">
        <span [innerHtml]="getArticleContent()"></span>
        <span
          (click)="showText()"
          mat-raised-button
          *ngIf="isReadMoreDisplayed && hasMoreContent"
          class="text-underlined see-more-box"
        >
          ...Read more
        </span>
      </section>

      <ng-template #readAll>
        <span [innerHtml]="article.content"></span>
      </ng-template>

    </div>

  </mat-card-content>

  <img
    mat-card-image
    src="{{article.filePath}}"
  >

  <section fxLayout="row wrap">

    <div
      fxFlex="70"
      fxLayoutAlign="start"
    >
      <div fxLayout="row">

        <mat-icon inline="true">favorite</mat-icon>
        <!-- @TODO implement get post likes -->
        <span
          class="likes"
          fxLayoutAlign="center end"
        >
          29
        </span>
      </div>
    </div>

    <div
      fxFlex="30"
      fxLayoutAlign="end center"
      class="comments"
      *ngIf="commentsCount > 0"
    >
      <span (click)="isCommentInputHidden = !isCommentInputHidden">{{commentsCount}} Comments</span>
    </div>

  </section>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <section
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="space-around"
    >
      <!-- @TODO implement like post -->
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
        LIKE
      </button>
      <button
        mat-button
        (click)="isCommentInputHidden = !isCommentInputHidden"
      >
        <mat-icon>comment</mat-icon>
        COMMENT
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
        SHARE
      </button>
    </section>

  </mat-card-actions>
  <mat-divider *ngIf="!isCommentInputHidden && isLogged"></mat-divider>

  <section
    class="comment-box full-width"
    appearance="outline"
    *ngIf="!isCommentInputHidden && isLogged"
  >
    <textarea
      fxFlex="90"
      matInput
      placeholder="Add your comment"
      [(ngModel)]="commentInput"
    ></textarea>

    <button
      fxFlex="10"
      mat-button
      [disabled]="!commentInput"
      (click)="onSendComment()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </section>

  <section *ngIf="!isLogged && !isCommentInputHidden">

    <span class="info">You can't comment this post.</span>
    <span
      class="text-underlined"
      (click)="navigateToResgiter()"
    >
      Click here to register.
    </span>
  </section>

  <section *ngIf="!isCommentInputHidden && commentsList.length > 0">

    <comments
      (onViewMore)="onViewMore()"
      [comments]="commentsList"
      [commentsCount]="commentsCount"
    ></comments>
  </section>

</mat-card>
