@import 'theme';

:host {
    .mat-divider {
        margin-top: 6px;
    }

    .mat-card {
        max-width: 500px;
    }

    .mat-card-actions {
        justify-content: space-around;
    }

    .mat-button {
        font-size: 10px !important;
    }

    .mat-icon.mat-icon-inline {
        font-size: inherit;
        height: inherit;
        line-height: inherit;
        width: inherit;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: red;
        display: flex;
        color: white;
        justify-content: center;
    }

    .comment-box {
        margin-top: 36px;

        textarea {
            width: 100%;
            height: 50px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
    }

}

.likes {
    margin-left: 8px;
    font-size: 12px;
}

.comments {
    font-size: 12px;
}

.comments:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    position: relative;
    max-width: 928px;
    --artdeco-reset-typography_getLineHeight: 1.42857;
    display: block;
    line-height: 2rem !important;
    margin: 0 16px;
    overflow: hidden;

    .see-more-box {
        background-color: white;
        line-height: inherit;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        padding-left: 8px;
    }
}

.not-all-content {
    height: 6rem;
}

.all-content {
    max-height: auto;
}