// Shared
@import 'theme';

:host {
    ::ng-deep .mat-sidenav-container {
        position: absolute;
        overflow: hidden !important;
    }

    ::ng-deep .mat-sidenav-content {
        overflow: hidden !important;
    }

    ::ng-deep .mat-sidenav {
        width: 56px !important;
    }

    ::ng-deep .mat-raised-button {
        border-radius: 55px;
    }


}

::ng-deep .my-menu {
    width: 150px !important;
    margin-right: 20px !important;
    border-radius: 0px;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;

    .flexExpand {
        flex: 1 1 auto;
    }
}

.spacer {
    flex: 1 1 auto;
}

.content {
    grid-area: content;
    margin-top: 50px;
    height: 100vh;
    overflow-y: auto !important;
    padding-bottom: 100px;
}

.header {
    grid-area: header;
    position: fixed;
    width: 100vw;
    background-color: $base-color;
    z-index: 1000;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content";
}

.user-logged {
    margin-right: 55px;
}