mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
    margin-top: 5px;
    height: 100vh;
    overflow: auto !important;

}

.content>mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.mat-card-image {
    height: auto !important;
}

.article-card {
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}