<div
  class="content"
  (scroll)="onScroll($event)"
>
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    *ngIf="articles.length > 0"
  >
    <div
      [fxFlex]="(100/gridColumns) + '%'"
      fxFlex.xs="100%"
      fxLayoutAlign="center center"
      *ngFor="let article of articles; let index = index;"
    >
      <article-card
        (click)="articleClicked(article)"
        class="article-card"
        [article]="article"
        [index]="index"
      ></article-card>
    </div>
    <div
      class="center"
      *ngIf="isLoading"
    >
      <mat-spinner></mat-spinner>
    </div>
  </div>

</div>
