<section class="tab-group">
  <mat-card>
    <mat-toolbar
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      color="basic"
    >
      <div>Login or create an account</div>
    </mat-toolbar>

    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let tabItem of tabs"
        [routerLink]="tabItem.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <!-- <mat-icon class="mr-8">{{tabItem.icon}}</mat-icon> -->
        {{tabItem.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>
  </mat-card>
</section>
